.home {
  display: grid;
  grid-template-rows: max-content max-content;
}

.home button {
  width: fit-content;
  height: fit-content;
  padding: 14px 42px;
  margin-top: 45px;

  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: bold;

  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);

  transition: all, 0.2s;
  cursor: pointer;
}

.home button:hover {
  color: black;
  background-color: var(--primary-color);
}
