@import url(./home/style.css);

* {
  margin: 0;
  padding: 0;
}

body {
  --primary-color: #FFB75B;

  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  background-color: black;
  box-sizing: border-box;
  height: 100vh;
}

#container {
  background: url(./assets/hero.jpg) no-repeat top right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
}

#content {
  padding: 40px 40px 15px 40px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 75px;
  
  height: 100%;
  height: fill-available;
  height: -moz-available;
  height: -webkit-fill-available;
}

nav ul {
  list-style-type: none;

  display: flex;
  gap: 50px;
  width: max-content;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

h1, h3, footer {
  color: var(--primary-color);
  letter-spacing: 0.32em;
}

h1 {
  font-weight: 1000;
  font-size: 100px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 25px;
}

.page-content {
  max-width: 1250px;
}

footer {
  display: none; /* hide for now */
  font-size: 14px;
  font-weight: bold;
}
